
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: aqua;
}

#root {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.light {
  background-color: #ffffff;
  color: #000;
  min-height: 100vh;
}

.dark {
  background-color: #1e1e1e;
  color: #fff;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

button {
  margin: 5px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #646cff;
  color: white;
}

button:hover {
  opacity: 0.8;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.product-card {
  padding: 15px;
  border-radius: 10px;
  background: #f4f4f4;
  color: black;
}

.dark .product-card {
  background: #2a2a2a;
  color: white;
}

h2 {
  margin-top: 30px;
}
